<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'>
  <h1
    style='color: #333; border-bottom: 2px solid #ccc; padding-bottom: 10px;'
  >Carrito recibido por Req.Params:</h1>
  <ul style='list-style: none; padding: 0;'>
    {{#each products}}
      <li
        style='border: 1px solid #ddd; margin-bottom: 10px; padding: 10px; border-radius: 5px;'
      >
        <h4 style='margin: 0; color: #007bff;'>{{this.product.title}}</h4>
        <p style='margin: 5px 0 0; color: #555;'>Cantidad:
          {{this.Cantidad}}</p>
      </li>
    {{/each}}
  </ul>
  <button onclick="location.href='/views/products'">Seguir comprando</button>
  <button onclick="location.href='/views/cart/{{cart}}/purchase'">Confirmar
    Compra</button>
</div>
{{! <script>
  console.log(idCarrito)
</script> }}