<h3>Te has registrado con Github</h3>
<p>No puedo redireccionarte a la página de /products debido a un error
  relacionado con una consulta. Aquí tienes una captura de pantalla del error:</p>
<img src='../desafio_entregable_error_Screenshot' alt='error' />
<h4>sin embargo, todo el proceso de autentificación funcionó correctamente</h4>