<h3>Te has registado con Github</h3>
<p>No te puedo redireccionar a la pagina de /products por errores relacionados a
  un query, dejo el error aqui:</p>
<img src='../../desafio entregable/error/Screenshot_2.png' alt='error' />