<style>
  form { margin: 20px; padding: 20px; background-color: #f2f2f2; border: 1px
  solid #ccc; border-radius: 5px; } input[type="email"], input[type="password"]
  { margin-bottom: 10px; padding: 5px; width: 200px; } input[type="submit"] {
  background-color: #4caf50; color: white; padding: 10px 20px; border: none;
  border-radius: 5px; cursor: pointer; } input[type="submit"]:hover {
  background-color: #45a049; }
</style>

<form action='/api/users/login' method='post'>
  email:
  <input type='email' name='email' id='email' />
  password:
  <input type='password' name='password' id='password' />
  <input type='submit' value='LOGIN' />
</form>
<button onclick="location.href= '/api/session/auth/github'">Entrar con Github</button>
<button onclick="location.href= '/views/signup'">Registrarse</button>

<h5>Cuentas para testeo:</h5>
<h6>Admin: Coder@Admin</h6>
<p>pass: admin</p>
<h6>Premium: p@p</h6>
<p>pass: p</p>