<head>
  <style>
    body { font-family: Arial, sans-serif; } h1 { color: #333; } form { display:
    flex; flex-direction: column; width: 300px; margin: 0 auto; }
    input[type='file'] { margin: 10px 0; padding: 5px; } button {
    background-color: #4CAF50; color: white; padding: 15px 20px; margin: 10px 0;
    border: none; cursor: pointer; width: 100%; } button:hover { opacity: 0.8; }
  </style>
</head>
<h1>Probando Multer, id: {{Id}}</h1>
<form
  action='/api/users/{{Id}}/documents'
  method='post'
  enctype='multipart/form-data'
>
  Identificación
  <input type='file' name='Id' />
  Comprobante de Domicilio
  <input type='file' name='Domicilio' />
  Comprobante Estado de Cuenta
  <input type='file' name='accountStatus' />
  <button type='submit'> Enviar Archivos </button>
</form>