<h1>CAMBIAR CONTRASEÑA:</h1>

<h3>ingrese su nueva contraseña:</h3>
<form action='/restore/restorepass/{{id}}' method='post'>
  <input type='text' name='password' id='password' />
  <h3>reingrese la contraseña:</h3>
  <input type='text' name='password2' id='password2' />
  <input type='submit' />
</form>